# Environment Variables
VITE_CLOUDINARY_CLOUD_NAME=kgo9phri
VITE_CLOUDINARY_UPLOAD_PRESET=vamos-demo-e-commerce
TURSO_DATABASE_URL=turso://vamos-demo-e-commerce-hussain-ahmed.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=

